// Main Material Color
$black: #000000;
$semiblack: #333333;
$white: #FFFFFF;
$indigo: #3F51B5;
$light-grey: #DDDDDD;
$light-grey-2: #F5F5F5;
$light-grey-3: #F0F0F0;
$grey: #777777;
$orange-accent: #FF9100;

// Thrid party
$facebook-color: #2d68e8;
$googleplus-color: #dd4b39;
$mandiri-color: #153f6a;

$garuda-blue: #2059A6;
$garuda-indigo: #27497B;
$garuda-red: #BD281D;
$garuda-light-blue: #5CBCD6;
$garuda-light-grey: #EEEEEE;
$garuda-light-black: #626269;
$garuda-light-grey2: #9B9B9B;

// Material Color Additional
$blue-accent: #2979FF;
$green-accent: #00C853;

// Main
$primary-color: #2AA1B2;
$secondary-color: #4285f4;
$accent-color: #ff4081;

// Text
$text-color-light: $white;
$text-color-light-secondary: rgba($text-color-light, .9);
$text-color-dark: $black;
$text-color-dark-primary: #333333;
$text-color-dark-secondary: rgba($text-color-dark, .7);
$text-color-primary: $secondary-color;
$text-color-accent-green: $green-accent;


// Flight Card status Color
$status-1: #CE206E;
$status-4: #2AA1B2;
