.my-notfound{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding-size-xl 0;

  &-icon{
    i{
      font-size: $text-size-xl;
    }
  }

  &-title{
    font-size: $text-size-lg;
  }

  &-text{
    color: $grey;
  }
}
